<!DOCTYPE html>
<html lang="ja">

{{ template "header" . }}

<body>

{{ template "global-navigator" .}}
<div class="container">
    <h3>つぶやく(韻を返します)</h3>
    <h3>英字，記号は禁止です</h3>
    <form action="tweet" method="post">
        <p>
        @<input  type="text" name="for">
        </p>
        <p>
            <textarea name="writing" rows="4" cols="40"></textarea>
        </p>
        <p>
            <button type="submit" class="btn btn-info">SENT</button>
        </p>
    </form>

    {{ template "footer" .}}
</div>

</body>
</html>