<!DOCTYPE html>
<html lang="ja">

{{ template "header" . }}

<body>


{{ template "global-navigator" .}}
<div class="container">
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>TIME</th>
        <th>PICTURE</th>
        <th>TEXT</th>
        <th>USERNAME</th>
        <th>SCREENNAME</th>
    </tr>
    </thead>
    {{$safe := .safe}}
    {{range $tweet := .tweets}}
<tr>
    <th>{{$tweet.CreateAt}}</th>
    <th><img src="{{$tweet.User.ProfileImageURL}}" width="64" height="64"></th>
    <th>{{call $safe $tweet.Text}}</th>
    <th>{{$tweet.User.Name}}</th>
    <th>@{{$tweet.User.ScreenName}}</th>
</tr>
    {{end}}
</table>
    {{ template "footer" .}}
</div>
</body>
</html>
